a {
  text-decoration: none !important;
  color: inherit;
}

a,
span {
  transition: all 0.4s ease-in-out;
}

a.active span {
  color: crimson;
}

.flex_content{
  display: flex;
  align-items: flex-start;
}
.slider{
  width: 260px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.slider *{
  font-size: 20px;
  color: #333;
}
.slider a.active{
  color: royalblue;
}
.slider_link{
  border-bottom: 1px solid #3333337b;
  border-left: 1px solid #3333337b;
  border-bottom-left-radius: 20px;
  padding: 8px;
  width: 100%;
}



.lines{
  padding: 8px  20px;
}
.lines ul{
  widows: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bbbbbb;
  padding: 8px 40px;
  transition: 0.2s;
border-radius: 10px;
}
.lines ul:hover{
  background-color: #e6e6e663;
}
.lines li{
  list-style: none;
}


.form_log{
  width: 450px;
  padding: 20px;
  border: 1px solid #808080a3;
  border-radius: 20px;
  margin-top: 50px;
  box-shadow: 15px 15px 10px 1px rgba(128, 128, 128, 0.295);
}